@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", serif;

  --color-brand: #005D5D;
  --color-brand-dark: #004D40;
  --color-brand-light: #E6F2F2;
  --color-paper: #FDFCFB;
  --color-ink: #141414;
  --color-line: rgba(20, 20, 20, 0.1);
}

@layer base {
  body {
    @apply bg-paper text-ink antialiased;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-serif tracking-tight leading-[1.1];
  }

  .small-caps {
    @apply text-[10px] font-bold uppercase tracking-[0.3em] text-slate-400;
  }
}